# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "352afc14d1dadbcc5d6e3c5af3c66beb"
name = "GiftCard"
application_url = "https://starlet-savanna-enjoyer.ngrok-free.dev"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2025-07"

  [[webhooks.subscriptions]]
  uri = "/webhooks/compliance"
  compliance_topics = [ "customers/data_request", "customers/redact", "shop/redact" ]

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_customers,read_gift_cards,read_online_store_navigation,read_orders,read_products,read_themes,write_content,write_gift_cards,write_online_store_navigation,write_themes"
optional_scopes = [ ]
use_legacy_install_flow = false

[auth]
redirect_urls = [ ]

[app_proxy]
url = "https://starlet-savanna-enjoyer.ngrok-free.dev/gift-cards"
subpath = "gift-cards"
prefix = "apps"
